{% load static %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/echarts.min.js' %}"></script>
<script src="{% static 'js/bmap.js' %}"></script>
<script src="https://api.map.baidu.com/api?v=3.0&ak=AHbr47NUKZGwIx8YHAFrGeHMrZLSCYk1"></script>
<!doctype html>
<html lang="en" style='background: url("{% static 'images/index_bg.png' %}") no-repeat;'>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/geo.png' %}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/portal_base.css' %}">
    <title>{% block subtitle %}{% endblock %} - 抽卡不歪</title>

    {% block extra_head %}

    {% endblock %}
</head>
<body>
    <div class="sidebar-container">
        <div class="sidebar-title">抽卡不歪✨</div>
        <div class="sidebar-list">
            <a href="{% url 'portal:index' %}">
                <div class="page-nav">
                    <div class="page-logo">
                        <img src="{% static 'images/keli.png' %}" alt="">
                    </div>
                    <div class="page-name">首的页</div>
                </div>
            </a>
            <a href="{% url 'portal:distribution' %}">
                <div class="page-nav">
                    <div class="page-logo">
                        <img src="{% static 'images/page_logo2.png' %}" alt="">
                    </div>
                    <div class="page-name">态势分布</div>
                </div>
            </a>
            <a href="{% url 'portal:big_view' %}">
                <div class="page-nav">
                    <div class="page-logo">
                        <img src="{% static 'images/page_logo3.png' %}" alt="">
                    </div>
                    <div class="page-name">看大的</div>
                </div>
            </a>
            <a href="{% url 'portal:video_list' %}">
                <div class="page-nav">
                    <div class="page-logo">
                        <img src="{% static 'images/page_logo4.png' %}" alt="">
                    </div>
                    <div class="page-name">Race Race</div>
                </div>
            </a>
        </div>
    </div>

    <div class="main-container">
        {% block container %}

        {% endblock %}
    </div>

    {% block script %}

    {% endblock %}
</body>
</html>