{% extends "portal/base.html" %}
{% load static %}

{% block subtitle %}
    房价分布
{% endblock %}

{% block extra_head %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script src="https://api.map.baidu.com/getscript?v=2.0&ak=AHbr47NUKZGwIx8YHAFrGeHMrZLSCYk1"></script>
    <script src="{% static 'js/bmap.js' %}"></script>

{% endblock %}

{% block container %}
    <div id="container" style="height: 100%"></div>
    <!--<div id="top10-bar" style="position:absolute;top:0;right:0;z-index:12;width:400px;height:400px;"></div>-->
{% endblock %}

{% block script %}
{#    <script type="application/json" id="top10_coords">{{ top10_coords|safe }}</script>#}
{#    <script type="application/json" id="top10_values">{{ top10_values|safe }}</script>#}
    <script type="application/json" id="top10_convert">{{ top10_convert|safe }}</script>
    <script type="application/json" id="heatmap-data">{{ heatmap_data|safe }}</script>
    <script type="text/javascript" src="{% static 'js/distribution.js' %}"></script>
{% endblock %}
