/*清除样式*/
ul {
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
    padding: 0;
}
/*横向 ICON 图表条*/
.icon-bar{
    height: auto;
    width: auto;
    max-height: 35px;
}

.icon-bar .icon-svg{
    max-width: 40px;
    max-height: 40px;
}

/*全局右侧任务贴图*/
.right_bg{
    position: absolute;
    right: 0;
    height: 100%;
    width: auto;
}

/*全局 contain-main*/
.breadcrumbs,
#content-main,
#content-related,
#nav-sidebar{
    opacity: 0.85;
}

#header{
    opacity: 0.9;
}
